{% extends "./base.html" %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-8 m-auto">

      <div class="parent-comment">
        <h4 class="comment-name">{{ comment.name}}</h4>
        <p class="comment-message">{{ comment.body}}</p>
        {% if comment.comment_set.all != None %}
          {% for reply in comment.comment_set.all %}
            <div class="child-comment">
              <p class="comment-name">{{ reply.name}}</p>
              <p class="comment-message">{{ reply.body}}</p>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      
      {% include "./commentform.html" %}

    </div>
  </div>
</div>
  
{% endblock body %}
