<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-around m-auto">
        <a href="https://www.facebook.com/Luke-Biggerstaff-143957562985070/" target="_blank">
          <i class="fa fa-facebook py-3"></i>
        </a>
        <a href="https://www.meetup.com/members/14479202/" target="_blank">
          <i class="fa fa-meetup py-3"></i>
        </a>
        <a href="https://github.com/lukebiggerstaff" target="_blank">
          <i class="fa fa-github py-3"></i>
        </a>
        <a href="https://www.linkedin.com/in/lukebiggerstaff/" target="_blank">
          <i class="fa fa-linkedin py-3"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 m-auto">
        <p class="text-center copyright">&copy; Luke Biggerstaff {% now "Y" %}</p>
      </div>
    </div>
  </div>
</section>
