<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-around">
        <a href="https://www.facebook.com/luke.biggerstaff">
          <i class="fa fa-facebook py-3"></i>
        </a>
        <a href="https://github.com/lukebiggerstaff">
          <i class="fa fa-github py-3"></i>
        </a>
        <a href="https://www.linkedin.com/in/lukebiggerstaff/">
          <i class="fa fa-linkedin py-3"></i>
        </a>
      </div>
      <div class="col-md-6">
        <form action="" method="post">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email">
            <div class="btn btn-danger input-group-addon btn-subscribe">Subscribe</div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 m-auto">
        <p class="text-center p-5">&copy; Luke Biggerstaff {% now "Y" %}</p>
      </div>
    </div>
  </div>
</section>
