{% if request.resolver_match.view_name != 'post-list' %}
  <nav class="hamburger">
    <div id="navMenuButton" class="nav-item-icon">
      <i class="fa fa-bars"></i>
    </div>
  </nav>

  <nav class="back-arrow">
    <a href="{% url 'post-list' %}">
      <div class="nav-item-icon">
        <i class="fa fa-arrow-left"></i>
      </div>
    </a>
  </nav>

  <div id="navMenuSlider" class="navigation-items">
    <a href="{% url 'about-me' %}" class="navigation-item-icon">
      <div>
        <i class="fa fa-user"></i>
      </div>
    </a>
    <a href="{% url 'post-list' %}" class="navigation-item-icon">
      <div>
        <i class="fa fa-home"></i>
      </div>
    </a>
  </div>
{% endif %}
