{% extends "./base.html" %}
{% load custom_blog_filters %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block body %}

 <div class="container">

   <div class="row">

     <div class="col-md-10 col-lg-8 m-auto">
      <h1 class="main-heading heading text-center">{{ post.title|title }}</h1> 
       
       <br><br>
       {% include post.body_template %}
       <br><br>

       <div class="share-bar">
         <ul class="share-list">
           <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
             class="share-list-link" target="_blank">
             <li class="share-list-item">
               <i class="fa fa-facebook"></i>
               <p>Share</p>
             </li>
           </a>
           <a href="https://twitter.com/share?url={{ request.build_absolute_uri|urlencode }}"
             class="share-list-link" target="_blank">
             <li class="share-list-item">
               <i class="fa fa-twitter"></i>
               <p>Share</p>
             </li>
           </a>
           <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri|urlencode }}"
             class="share-list-link" target="_blank">
             <li class="share-list-item">
               <i class="fa fa-linkedin"></i>
               <p>Share</p>
             </li>
           </a>
         </ul>
       </div>

       <h3 class="heading">Comments</h3>  
       <hr class="comments-border">
       {% for comment in post.comment_set.all %}
          <div class="parent-comment">
            <h4 class="comment-name">{{ comment.name}}</h4>
            <p class="comment-message">{{ comment.body}}</p>
            <a href=" {% url "comment-reply" post.slug comment.id %}">
              <button class="btn btn-outline-primary btn-comment">
                Reply
              </button>
            </a>
            {% if comment.comment_set.all != None %}
              {% for child_comment in comment.comment_set.all %}
                <div class="child-comment">
                  <h4 class="comment-name">{{ child_comment.name}}</h4>
                  <p class="comment-message">{{ child_comment.body}}</p>
                  <a href=" {% url "comment-reply" post.slug comment.id %}">
                    <button class="btn btn-outline-primary btn-comment">
                      Reply
                    </button>
                  </a>
                </div>
            {% endfor %}
            {% endif %}
          </div>
       {% endfor %}

      {% include "./commentform.html" %}

     </div>

   </div>
 </div>

{% endblock body %}
