{% extends "./base.html" %}
{% load custom_blog_filters %}

{% block title %}
 post_detail.html 
{% endblock title %}

{% block body %}

 <div class="container">

   <div class="row">

     <div class="col-md-8 m-auto">
       <div class="row">
        <div class="col-lg-10 m-auto">
          <h1 class="main-heading heading">{{ post.title|title }}</h1> 
        </div>
       </div>
       <img src="{{ post.postimage_set.first.image.url }}" class="mx-auto d-block img-fluid">
       
       <br><br>
       {{ post.body|render_post_body_as_template }}
       <br><br>

       
       <h3 class="heading">Comments</h3>  
       {% for comment in post.comment_set.all %}
          <div class="parent-comment">
            <h4 class="comment-name">{{ comment.name}}</h4>
            <p class="comment-message">{{ comment.body}}</p>
            <a href=" {% url "comment-reply" post.slug comment.id %}">
              <button class="btn btn-outline-primary btn-comment">
                Reply
              </button>
            </a>
            {% if comment.comment_set.all != None %}
              {% for child_comment in comment.comment_set.all %}
                <div class="child-comment">
                  <h4 class="comment-name">{{ child_comment.name}}</h4>
                  <p class="comment-message">{{ child_comment.body}}</p>
                  <a href=" {% url "comment-reply" post.slug comment.id %}">
                    <button class="btn btn-outline-primary btn-comment">
                      Reply
                    </button>
                  </a>
                </div>
            {% endfor %}
            {% endif %}
          </div>
       {% endfor %}


       <form action="" method="post" class="mt-5">
         {% csrf_token %}
         {{ form.non_field_errors }}
          <div class="form-group">
           {{ form.body.errors }}
           {{ form.body }}
          </div>
         <div class="row">
           <div class="col-md-6">
             <div class="form-group">
               {{ form.name.errors }}
               {{ form.name }}
               </div>
           </div>
            <div class="col-md-6">
              <div class="form-group">
               {{ form.email.errors }}
               {{ form.email }}
              </div>
            </div>
         </div>
         <button class="btn btn-block btn-outline-primary">Submit</button>
       </form>

     </div>

   </div>
 </div>

{% endblock body %}
