{% extends "./base.html" %}

{% block title %}
  Luke Biggerstaff
{% endblock title %}

{% block body %}


<div class="container">

  <div class="row">
    <div class="col-md-10 col-lg-8 m-auto">
      <h1 class="heading main-heading">Luke Biggerstaff</h1>
      <i class="fa fa-quote-left quote"></i>
      <cite class="text-muted">A rennaissaince man</cite>
      <i class="fa fa-quote-right quote"></i>
      {% for post in posts %}

      <div class="card post-card">
        <div class="card-title">
          <h2 class="heading sub-heading">
            <a href="{% url 'post-detail' post.slug  %}">
              {{ post.title|title }}
            </a>
          </h2>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <img src="{{ post.postthumbnailimage.image.url }}" class="img-fluid img-thumbnail">
              </div>
              <div class="col-sm-9">
                <p class="body-paragraph">{{ post.description }}</p>
                <a href="{% url 'post-detail' post.slug %}" class="small">Read Post <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>

</div>

{% endblock body %}
