/* primary theme colors*/
$primary-theme-color: #00b3b3;
/* navigation */
$nav-bg-color: lighten(black, 25%);
$hamburger-min-breakpoint: 700px;
/* background color*/
$body-bg-color: darken(white, 3%);
/* heading colors */
$heading-color: lighten(black, 20%);
/* body color*/
$body-text-color: lighten(black, 25%);
/* code block colors */
$code-block-bg: lighten(#777, 40%); 
$code-text-color: black;
/* share bar styles */
$share-bg-color: $nav-bg-color;
$share-icon-color: $primary-theme-color;
/* comment border */
$comment-border-color: lighten(#777, 40%);
/* footer styles */
$footer-bg-color: lighten(black, 25%);
$footer-text-color: darken(white, 2%);
$footer-icon-bg-color: $primary-theme-color;
$footer-subscribe-btn-color: #dc3545;
$footer-min-breakpoint: 400px;

::selection{
  background: $primary-theme-color;
}
body{
  background: $body-bg-color;
}

%nav_icon {
  background: $nav-bg-color;
  opacity: .8;
  z-index: 30;
  cursor: pointer;
  position: fixed;
  top: .25em;
  &:hover {
    background: darken($nav-bg-color, 20%);
    transition: background .7s ease;
  }
  .fa {
    font-size: 1.5em;
    @media (min-width: $hamburger-min-breakpoint){
      font-size: 3em;
    }
    color: $primary-theme-color;
    padding: .5em;
  }
}
.hamburger {
  @extend %nav_icon;
  right: .25em;
}
.back-arrow {
  @extend %nav_icon;
  left: .25em;
}

.navigation-items {
  background: $nav-bg-color;
  opacity: .8;
  width: 100%;
  height:100px;
  position: fixed;
  transition: bottom 0.5s ease-in-out;
  bottom:-90px;
  display: flex;
  justify-content:space-around;
  z-index: 30;
  .navigation-item-icon {
    border-top: 10px solid $primary-theme-color;
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: darken($nav-bg-color, 20%);
      transition: background .7s ease;
    }
  }
  .fa {
    font-size: 4em;
  }
}
.onscreen {
  transition: bottom 0.5s ease-in-out;
  bottom: 0;
}
.body-paragraph {
  color: $body-text-color;
  font-size: 1.1em;
  line-height: 1.6em;
  word-spacing: 4px;
  font-family: 'PT Serif', 'Noto Serif', 'Droid Serif', 'Georgia', serif;
  margin-bottom:20px;
}
.heading{
  letter-spacing: .01em;
  font-weight:bold;
  font-family: 'PT Serif', 'Noto Serif', 'Droid Serif', 'Georgia', serif;
  color: $heading-color;
}
.main-heading {
  padding:20px 0;
  margin-top: 40px;
  font-size: 3.4em;
  text-shadow: rgba(0,0,0,.8);
}
.sub-heading {
  padding: 10px;
}
.code {
  background: $code-block-bg;
  font-family: Menlo,Monaco,"Courier New",Courier,monospace;
  font-weight: bold;
  color: $code-text-color;
}

.code-block {
  padding: 20px;
}

.code-inline {
  padding: 3px 8px;
}
/* code for share bar */
.share-bar {

  .share-list {
    list-style-type: none;
    padding-left: 0;

    @media (min-width: 400px){
      display: flex;
      justify-content: space-between;
    }

    .share-list-link,{
      background: $share-bg-color;
      height: 3em;
      padding: 15px;
      color: white;
      margin-top: 10px;
      text-decoration: none;
      display: flex;
      justify-content:center;
      &:hover {
        background: darken($share-bg-color, 20%);
        transition: background .7s ease-in-out;
      }
      @media (min-width: 500px){
        flex-grow: 1;
      }

      .share-list-item {
        display:flex;
        align-items: center;
        .fa {
          color: $primary-theme-color;
          font-size: 2em;
          margin-right: 15px;
        }
        p {
          align-self: flex-start;
        }
      }
    }
  }
}

.parent-comment {
  border-bottom: 1px solid $comment-border-color;
  padding: 10px;
}
.child-comment {
  margin-left: 3em;
  padding: 10px;
}
.comment-name {
  padding:10px;
  font-weight: bold;
}
.comment-message {
  padding:10px;
  color: $body-text-color;
}
.btn {
  font-family: Monospace;
}
.btn-comment{
  font-size: 1em;
  padding: 10px 30px ;
  letter-spacing: .1px ;
  cursor: pointer;
}
#footer {
  border-top: 5px solid $primary-theme-color;
  background: $footer-bg-color;
  color: $footer-text-color;
  margin-top: 20px;
  padding: 60px 10px;
  .fa {
    font-size: 1.8em;
    color: $footer-icon-bg-color;
  }
.btn-subscribe {
  border-radius-left: 0 5px, 0 5px;
  background: $footer-subscribe-btn-color;
  color: white;
  }
  .footer-form {
    @media (max-width: $footer-min-breakpoint){
      display:none
    }
  }
  .copyright {
    padding: 30px 0px;
    margin-bottom: 20px;
  }
}
