/* background color*/
/* heading colors */
/* body color*/
/* code block colors */
/* comment border */
/* */
body {
  background: #fafafa; }

.body-paragraph {
  color: #404040;
  font-size: 1.1em;
  line-height: 1.6em;
  word-spacing: 4px;
  font-family: 'PT Serif', 'Noto Serif', 'Droid Serif', 'Georgia', serif;
  margin-bottom: 20px; }

.heading {
  letter-spacing: .01em;
  font-weight: bold;
  font-family: 'PT Serif', 'Noto Serif', 'Droid Serif', 'Georgia', serif;
  color: #333333; }

.main-heading {
  padding: 20px 0;
  margin-top: 20px;
  font-size: 3.4em;
  text-shadow: rgba(0, 0, 0, 0.8); }

.sub-heading {
  padding: 10px; }

.code {
  background: #dddddd;
  font-family: Menlo,Monaco,"Courier New",Courier,monospace;
  font-weight: bold;
  color: black; }

.code-block {
  padding: 20px; }

.code-inline {
  padding: 3px 8px; }

.comment-counter {
  color: red; }

.parent-comment {
  border-bottom: 1px solid #dddddd;
  padding: 10px; }

.child-comment {
  margin-left: 3em;
  padding: 10px; }

.comment-name {
  padding: 10px;
  font-weight: bold; }

.comment-message {
  padding: 10px;
  color: #404040; }

.btn {
  font-family: Monospace; }

.btn-comment {
  font-size: 1em;
  padding: 10px 30px;
  letter-spacing: .1px;
  cursor: pointer; }

#footer {
  background: #404040;
  color: #fafafa;
  margin-top: 20px;
  padding: 60px; }
  #footer .fa {
    font-size: 1.8em;
    color: #00b3b3; }

.btn-subscribe {
  border-radius-left: 0 5px, 0 5px; }
